@model archi_company_mvc.Models.Ticket

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDate)
        </dd>
    </dl>
    @if (Model.Consumables != null && Model.Consumables.Count() > 0 ) {
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Consumables)
                    </dt>

                    @foreach (Consumable cons in Model.Consumables)
                    {
                        var Brand = cons.ConsumableType.Brand;
                        var Name = cons.ConsumableType.Name;
                        var displayString = Brand + " " + Name;
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model =>  displayString) : @Html.DisplayFor(model => cons.Quantity)
                        </dd>
                        <dt class = "col-sm-2"></dt>
                        
                            

                    }
                    <dd class = "col-sm-10"></dd>
                </dl>
    }
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
