@model archi_company_mvc.Models.Patient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4> <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryDoctor)
        </dt>
        <dd class = "col-sm-10">
            @{
                    var Firstname = Model.PrimaryDoctor != null ? Model.PrimaryDoctor.FirstName + " " : "";
                    var LastName = Model.PrimaryDoctor != null ? Model.PrimaryDoctor.LastName : "";
                    var displayString = Firstname + LastName;
            }
            @Html.DisplayFor(modelItem => displayString)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
    <h4>Healthfile</h4> 
    <hr />
    @if(Model.HealthFile == null)
    {
        <a asp-area="" asp-controller="Healthfiles" asp-action="Create">Create healthfiles</a>
    }

    else
    {
        <a asp-area="" asp-controller="HealthFiles" asp-action="Edit" asp-route-id="@Model.HealthFile.Id">Edit healthfile</a>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HealthFile.Medications)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HealthFile.Medications)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HealthFile.ChronicConditions)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HealthFile.ChronicConditions)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HealthFile.EmergencyContact)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HealthFile.EmergencyContact)
            </dd>
        </dl>
    }


</div>
<div>
    |
    <a asp-action="Index">Back to List</a>
</div>