@model IEnumerable<archi_company_mvc.Models.Patient>

@{
    ViewData["Title"] = "Patients";
}

<h1>Patients</h1>
@if (User.IsInRole("Secretary"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryDoctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                    var Firstname = item.PrimaryDoctor != null ? item.PrimaryDoctor.FirstName + " " : "";
                    var LastName = item.PrimaryDoctor != null ? item.PrimaryDoctor.LastName : "";
                    var displayString = Firstname + LastName;
                }
                @Html.DisplayFor(modelItem => displayString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole("Secretary"))
                {
                    <span> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </span>
                }
            </td>
        </tr>
}
    </tbody>
</table>
